$white: #fff;
$lightgrey: #f7f7f7;
$bordercolor: #e1e1e1;
$orange: #f36b21;
$redorange: #f4501e;
$yellow: #FEA93C;
$green: #38AC99;
$grey1: #A1A1A1;
$grey2: #666666;
$darkgrey: #212121;
$tvgreen: #00ca70;