.height{  width:100%; display:block; position:relative; float:left; }
.height32{ @extend .height; height:32px; }
.height16{ @extend .height; height:16px;  }

.width325{ width:325px; display:inline-block;}
.width260{ width:260px;  display:inline-block;}
.width200{ width:200px;  display:inline-block;}
.width160{ width:160px;  display:inline-block;}
.width120{ width:120px;  display:inline-block;}
.width100{ width:100%; max-width:530px;  display:inline-block;}
.width80{ width:80px;  display:inline-block;}

.min-width520{min-width:520px;}

// ------------ attributes : vertical-align
.v-top{
  vertical-align: top;
  padding-top: 12px;
}

// ---------------------------------------- header style

@each $header, $size in (h1:32px, h2:20px, h3:14px, h4:12px, h5:10px){
  #{$header}{
    font-size: $size;
    display:inline-block;
    color: $grey2;
  }
}

h3, h4{ font-weight:bold; }
h1, h2, h3{ color:$darkgrey; font-weight:regular;}

.title{
  padding:0 30px 32px 30px;
  text-align:left;
  width:100%;
  display:block;
  //margin-bottom:12px;

  h2{
    position:relative; margin-top:7px;
  }
}